# CONFIGURACION PRINCIPAL DEL BOT DE DISCORD
TOKEN=TU_DISCORD_TOKEN_AQUI
CLIENT_ID=TU_CLIENT_ID_AQUI
OWNER_ID=TU_ID_DE_DISCORD_AQUI
PREFIX=!
GUILD_ID=

# PERSONALIZACION VISUAL POR DEFECTO
DEFAULT_EMBED_COLOR=#5865F2
DEFAULT_FOOTER_TEXT=Sistema de Mensajeria & Utilidades